/* Ajuste de logo para evitar salto de línea en menú */
.site-logo img {
    max-width: 220px !important; /* Reduce de 199px a 160px aprox */
    height: auto;
}

/* Asegurar que en re∫tina también se respete */
.site-logo .default-retina-logo img {
    max-width: 220px !important;
}

/* Estilo para la categoría o tag activo */
.filter-link.active {
    font-weight: 700;       /* Negrita */
    color: #42b8d4 !important; /* Color azul del tema */
    text-decoration: none;
}

